* {
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

.visning-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 25px;
  background-color: #0000b8;
  color: #fff;
  line-height: 25px;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-rows: 0.4fr 1fr 1fr 2fr 0.5fr; */

  grid-template-areas:
    "header header header header header"
    "main main main aside aside"
    "footer footer footer footer footer";

  grid-gap: 0.2rem;
  font-family: "inter", sans-serif;
  font-weight: 800;
  font-size: 16px;
  color: #004d40;
  text-align: center;
}

.icon {
  display: none;
}

figure {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  border-style: solid;
  border-width: 5px;
}

nav a.icon {
  background: black;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 17px;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: space-evenly;
  margin: 15px;
}

#logo {
  display: flex;
  max-width: 60px;
  max-height: 30px;
  justify-content: flex-start;
  margin: 15px;
}

#logo:hover {
  transform: scale(1.2);
}

nav ul a {
  color: rgb(0, 94, 128);
  border-bottom: 3px solid rgba(255, 0, 0, 0.518);
}

nav ul li:hover {
  transform: scale(1.2);
}

header {
  grid-area: header;
}

header h1 {
  /* Bidlet jeg har tatt er fra Binärcode fra google */
  background-image: url("../pictures/kode.jpg");
  min-height: 350px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  line-height: 400px;
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
  width: 390px;
  border: 10px solid #ccc;
  margin: 10px;
}

article {
  border: 10px solid #ccc;
  margin: 10px;
  text-align: center;
}

article:hover {
  box-shadow: 7px 10px 15px #adadad;
}

article a:hover {
  border-top: 3px solid rgba(255, 0, 0, 0.518);
}

section {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

section p {
  max-width: 250px;
}

section figure {
  max-width: 200px;
  max-height: 200px;
}

#seopicture {
  max-width: 170px;
}

footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 100px 5px;
}

.contactme {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 10px solid #ccc;
  margin: 10px;
  text-align: center;
}

button {
  width: 150px;
  height: 25px;
  margin: 5px;
  background-color: #5c9e49;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 0px 2px 2px rgb(68, 205, 23);
}

button:hover {
  color: #3a7999;
  background: rgba(0, 0, 0, 0);
}

#rel-articles {
  display: flex;
  flex-direction: column;
}

#rel-articles ul li:hover {
  transform: scale(1.1);
}

section ul a {
  border-bottom: 3px solid rgba(17, 0, 255, 0.518);
}

#btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 20px; 
  background-color: blue;
  color: white;
  height: 50px;
  border-radius: 4px;
}

#btn:hover {
  background-color: purple;
}

/* Dette er for å gi styling til alle iconsa på font-awesome: */
.fa {
  padding: 20px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.3;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}


/* @media only screen and (max-width: 600px) {
  /* body {
    background-color: black;
  } */

  /* .container {
    /* I want everything in 1 column wide */
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* grid-template-rows: 1fr; */
    /* grid-template-areas: 
    "header"
    "main"
    "aside"
    "footer";
 } */ 
  /* .main-section {
    display: flex;
    flex-direction: column; */
 /* } */
/* } */ 

@media only screen and (max-width: 1029px) {
  .container {
    grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr;

    grid-template-areas:
    "header header header header header"
    "main main main main main"
    "aside aside aside aside aside"
    "footer footer footer footer footer";
  }

  /* nav li{
    max-width: 480px;
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 200px;
    color: white;
  } */

  nav a {
    display: flex;
    flex-direction: column;
  }
  nav a.icon {
    background: black;
    display: block;
    /* position: absolute; */
  }

  #min-link {
    display: flex;
    flex-direction: column;
  }

  .icon {
    display: block;
  }

  /* nav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  } */

  .main-section {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #rel-articles {
    margin: 20px;
  }

  section p {
    max-width: 100%;
    margin: 10px;
  }
  
  section figure {
    max-width: 100%;
    max-height: 100%;
    margin: 10px;
  }
}

@media only screen and (min-width: 1030px) and (max-width: 1119px) {
  body {
    background-color: green;
  }
  
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;

    grid-template-areas:
    "header header header header header"
    "main main main main main"
    "aside aside aside aside aside"
    "footer footer footer footer footer";
  }
}

@media only screen and (min-width: 1120px) and (max-width: 1379px) {
  body {
    background-color: brown;
  }

  .main-section {
    display: flex;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 1380px) and (max-width: 1440px) {
  body {
    background-color: red;
  }

  .main-section {
    gap: 10px;
  }
}

//@media (min-width:481px)  { 
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide.  */
 // body {background-color: purple;}
//}
//@media (min-width:641px)  { 
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones  */
  //body {
   // background-color: orange;
 // }
//}
//@media (min-width:961px)  { 
  /* tablet, landscape iPad, lo-res laptops ands desktops  */
  //body {
  //  background-color: brown;
 // }
//}


/* @media (min-width:1025px) { big landscape tablets, laptops, and desktops } */
/* @media (min-width:1281px) { hi-res laptops and desktops }  */

/* On screens that are 992px wide or less, go from four columns to two columns */
/* @media screen and (max-width: 992px) {
  .column {
    flex: 50%;
  }
} */